.containetNav {

    margin-bottom: 100px;
    z-index: 999999;

}

.containetNav a {
    text-decoration: none;
}

.containetNav a:hover {
    color: #1FA84F !important;
}

.darkMode {
    background-color: inherit;
}