.containerNav {
    /* margin-bottom: 100px; */
    z-index: 999999;

}

.containerNav a {
    text-decoration: none;
    color: var(--text-nav) !important;
}

<<<<<<< HEAD
.containetNav a:hover {
    color: #1FA84F !important;
}

.darkMode {
    background-color: inherit;
=======
.containerNav a:hover {
    color: var(--const-color) !important;
}

.navbars {
    background-color: var(--bg-cardback) !important;
}

.show {
    background-color: var(--bg-cardback) !important;
}

.show a:hover {
    background-color: var(--bg-cardback) !important;
}

.nav-link .dropdown-item {
    color: var(--text-nav) !important;
}

.dropdown-item {
    font-weight: 600 !important;
>>>>>>> darkMode
}