.cardItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-cardback);
    padding: 10px;
    border-radius: 30px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.cardItemHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.cardsIcons {
    font-size: 70px;
    color: var(--text-body);
}

.cardsValue {
    font-weight: 600;
    font-size: 35px;
    color: var(--title-text);
}

.cardPrice {
    font-size: 50px;
    font-weight: 700;
    color: var(--const-color);
}

.cardDist {
    font-size: 22px;
    font-size: 700;
    color: var(--text-body);
}

.cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyContainer {
    margin-top: 10px;

}

.bodydisc {
    font-size: 18px;
    color: var(--text-body);
}

.bodyIcons {
    font-size: 22px;
    font-weight: 800;
}

.greenIcon {
    color: var(--const-color);
}

.redIcon {
    color: #8f4962;
}

.backGreen {
    background-color: var(--const-color);
}

.backGreen .cardsIcons {
    color: #d8d8d8;
}

.backGreen .cardsValue {
    color: black;
}

.backGreen .cardPrice {
    color: #eff0ef;
}

.backGreen .bodydisc {
    color: #d2d8d8;
}

.backGreen .greenIcon {
    color: green;
}

.backGreen .cardDist {
    color: #d2d8d8;
}

.cardFooter {
    margin-top: 30px;
}