.formInput {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 30px;
}

.formInput input {
    font-size: 18px;
    padding: 20px;
    border: 0;

    width: 80%;
    margin: 0 auto;
}





input {
    background-color: var(--bg-cardback) !important;
    color: var(--title-text) !important;
}