.containerBox {
    background-color: #202020;
    padding: 20px;
    color: aliceblue;
    margin: 20px 0;
}

.footerContaner {
    background-color: #1C1D1C;
    padding: 30px 0;
}

.conIcon {
    background-color: var(--const-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 38px;
    margin-top: 8px;
}

ul>li {
    color: aliceblue;
    list-style-type: none;

}

ul {
    display: flex;
    flex-direction: column;
    padding-left: 0 !important;
    row-gap: 30px;
    margin-bottom: 30px;
    margin-top: 20px;

}

.headerUl {
    margin-top: 10px;
    color: aliceblue;
}

li>a {
    text-decoration: none;
    color: aliceblue;
}

li>a:hover {
    color: var(--const-color);
}