.transaction-card {
    background-color: var(--bg-cardback);
    transition: all 1000ms;
    position: relative;
    overflow: hidden;

}

.transaction-card svg {
    color: var(--const-color);
}

.transaction-card:hover svg {
    color: var(--bg-cardback);
}

.transaction-card .card-link {
    color: var(--const-color);
}

.transaction-card:hover .card-link {
    color: var(--bg-cardback);
}

.transaction-card:hover {
    color: var(--const-color);
    transform: scale(1);
    outline: 0;

    color: var(--bg-cardback);
    border: 0;
}

.transaction-card::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--const-color);

    z-index: -1;
    transition: width 1000ms;
}

.transaction-card:hover::before {
    width: 250%;
}