:root {
    --bg-back: #f4f6f4;
    /* #151515*/
    --bg-cardback: #eff0ef;
    /* #1e1e1e*/
    --title-text: #404742;
    /*#e4e6e4*/
    --text-nav: #6a6a6a;
    /*#bcbcbc*/
    --text-body: #686767;
    /*#b6b6b6*/
    --const-color: #1fa84f;
}

.titleClass {
    color: var(--title-text) !important;
}

.greenTitle {
    color: var(--const-color) !important;
}

.textBody {
    color: var(--text-body) !important;
}

body {
    --sb-track-color: var(--bg-back);
    --sb-thumb-color: var(--const-color);
    --sb-size: 8px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 30px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 30px;
    border: 2px solid var(--const-color);
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}