:root {
    --green-color: rgb(31, 168, 79);
    --gray-color: rgb(142, 142, 141);
    --dark-mode: rgb(21, 21, 21);
    --text-dark: rgb(133, 133, 133);
    --bg-home: rgb(248, 246, 244);
}

.text-green {
    color: var(--green-color);
}

.navbars>li>a:hover {
    color: var(--green-color) !important;
}

.green-color:hover {
    color: var(--green-color) !important;
    background-color: var(--bg-home) !important;
}

.bg-graying {
    background-color: var(--bg-home) !important;
}

.animation {
    transition: background-color 0.5s;
}

#btn-join {
    background-color: var(--green-color);
    text-transform: uppercase;
    cursor: pointer;
    color: var(--bg-home);
    transition: all 1000ms;
    position: relative;
    overflow: hidden;
    outline: 2px solid var(--green-color);
}

#btn-join:hover {
    color: var(--bg-home);
    transform: scale(1);
    outline: 0;
    box-shadow: 4px 5px 17px -4px var(--bg-home);
    color: var(--green-color);
    border: 0;
}

#btn-join::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--bg-home);

    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

#btn-join:hover::before {
    width: 250%;
}

.pharagrap {
    line-height: 200%;
    color: var(--gray-color);
    word-spacing: 5px;

    font-size: 18px;
    font-weight: 400;
}

.img-head {
    vertical-align: middle;

}

.title {
    color: #404742;
    font-weight: bold;
    position: relative;
    text-transform: capitalize;
    font-size: 45px;
}

@media screen and (max-width : 768px) {
    .title {
        font-size: 35px;
    }
}

.text-color {
    color: #404742;
}

body {
    --sb-track-color: #EFF0EF;
    --sb-thumb-color: #1fa84f;
    --sb-size: 8px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 30px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 30px;
    border: 2px solid #1fa84f;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.text-green {
    color: var(--green-color);
}

.link-card {
    text-decoration: none;


}

.link-card:hover {
    color: var(--green-color);
}

.hover-animation {
    background-color: var(--bg-home);
    transition: all 1000ms;
    position: relative;
    overflow: hidden;

}

.hover-animation svg {
    color: var(--green-color);
}

.hover-animation:hover svg {
    color: var(--bg-home);
}

.hover-animation .card-link {
    color: var(--green-color);
}

.hover-animation:hover .card-link {
    color: var(--bg-home);
}

.hover-animation:hover {
    color: var(--green-color);
    transform: scale(1);
    outline: 0;

    color: var(--bg-home);
    border: 0;
}

.hover-animation::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--green-color);

    z-index: -1;
    transition: width 1000ms;
}

.hover-animation:hover::before {
    width: 250%;
}

::selection {
    background-color: #1fa84f;
    color: #ffffff;
}

.hover-animation .titlenumber {
    color: var(--green-color);
}

.hover-animation:hover .titlenumber {
    color: var(--bg-home);
}