.iconsso {
    font-size: 30px;

}

.iconContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.iconContainer a {
    color: #5E5E5E;
}

.iconContainer a:hover {
    color: #1FA84F;
}