.iconsso {
    font-size: 30px;

}

.iconContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.iconContainer a {
    color: var(--text-nav);
}

.iconContainer a:hover {
    color: #1FA84F;
}

.cardTeam {
    background-color: var(--bg-cardback) !important;
}